SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_PASSWORD=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=
EUREKA_REGISTER_WITH_EUREKA=
EUREKA_FETCH_REGISTRY=

GATEWAY_DISCOVERY_LOCATOR_ENABLED=

AUTH_SERVICE_URI=
API_GATEWAY_PORT=

VITE_API_GATEWAY_URL=
CORS_ALLOWED_ORIGINS=
